---
import SectionTitle from "@/components/SectionTitle.astro";
import SideBySide from "@/components/SideBySide.astro";
import type { AboutData } from "@/config/landing.interface";

interface Props {
  data: AboutData;
}

const { data } = Astro.props;
---

<section id="about" class="flex flex-col">
  <SectionTitle>
    {data.title}
  </SectionTitle>
  <div>
    {
      data.about.map((adventaje, idx) => (
        <SideBySide data={adventaje} reversed={(idx + 1) % 2 === 0} />
      ))
    }
  </div>
</section>
